@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: white;
  --secondary: black;
  --checkboxWith: 9rem;
  --checkboxHeight: 5rem;
  --circleSize: calc(var(--checkboxHeight) * 0.75);
}

body {
  color: var(--secondary);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.2s;
}
.dark {
  --primary: black;
  --secondary: white;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #007bff;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: var(--checkboxWith);
  height: var(--checkboxHeight);
  outline: none;
  border: none;
  border-radius: 5rem;
}
input:checked[type="checkbox"] {
  background-color: #83868a;
}
input[type="checkbox"]::before {
  content: " ";
  position: absolute;
  width: var(--circleSize);
  height: var(--circleSize);
  background-color: white;
  border-radius: 5rem;
  top: calc(var(--checkboxHeight) * 0.13);
  left: 0.5rem;
  transition: 0.2s;
}
input:checked[type="checkbox"]::before {
  left: calc(var(--checkboxWith) - 0.5rem - var(--circleSize));
}
.checkboxText {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-left: 15px;
}
.checkboxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
